doctype html
html
   head
      title  Express project | Contact us
      style
        include app.css
   body
    include navbar.pug 
    div.content
        p No contacting setup has been made yet.