.nav-bar {
  background: gainsboro;
  width: 100vh;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

a {
  display: inline-block;
  position: relative;
  color: black;
  text-decoration: none;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: teal;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
