doctype html
html
   head
      title Express project
      style
       include nav.css
   body
        nav.nav-bar
            a(href = "/") Home 
            a(href = "contact-us") Contact us
            a(href = "our-services") Services