doctype html
html
   head
      title  Express project | Our services
      style
        include app.css
   body
    include navbar.pug 
    div.content
        p There're no services available at the moment.